@model MvcKutuphane.Models.Entity.TBLHAREKET
@{
    ViewBag.Title = "OduncIade";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div style="margin-bottom:15px"></div>
<h2>Ödünç İade Al</h2>
<hr />
@using (Html.BeginForm("OduncGuncelle", "Odunc", FormMethod.Post))
{
    <div style="margin-bottom:15px"></div>
    <div class="form-group">
        <label><b>HAREKET ID</b></label>
        @Html.TextBoxFor(k => k.ID, new { @class = "form-control" })
        <br />
        <label><b>KİTAP ADI</b></label>
        @Html.TextBoxFor(k => k.TBLKITAP.AD, new { @class = "form-control" })
        <br />
        <label><b>ÜYE</b></label>
        @Html.TextBoxFor(k => k.TBLUYELER.AD, new { @class = "form-control" })
        <br />
        <label><b>PERSONEL</b></label>
        @Html.TextBoxFor(k => k.PERSONEL, new { @class = "form-control" })
        <br />
        <label><b>ALIŞ TARİHİ</b></label>
        @Html.TextBoxFor(k => k.ALISTARIH, "{0:dd.MM.yyyy}", new { @class = "form-control" })
        <br />
        <label><b>NORMAL İADE TARİHİ</b></label>
        @Html.TextBoxFor(k => k.IADETARIH, "{0:dd.MM.yyyy}", new { @class = "form-control" })
        <br />
        <label><b>ÜYENİN TESLİM TARİHİ</b></label>
        <input type="text" class="form-control" name="UYEGETIRTARIH" value="@DateTime.Now.ToShortDateString()" />
        <br />
        <label><b>GEÇ GELEN GÜN SAYISI</b></label>
        <input type="text" class="form-control" id="Gecinput" value="@ViewBag.dgr" />
        <br />
    </div>
    <div>
        <button class="btn btn-secondary">Ödünç Kitabı Geri Al</button>
    </div>
}

