@model MvcKutuphane.Models.Entity.TBLKITAP
@{
    ViewBag.Title = "KitapGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div style="margin-top:15px"></div>
<h2>Kitap Güncelle</h2>
<hr />
<div style="margin-top:15px"></div>
@using (Html.BeginForm("KitapGuncelle", "Kitap", FormMethod.Post))
{
    <div style="margin-bottom:15px"></div>
    <div class="form-group">
        <div style="margin-bottom:15px">
            <label><b>KİTAP ID</b></label>
            @Html.TextBoxFor(k => k.ID, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label><b>KİTAP ADI</b></label>
            @Html.TextBoxFor(k => k.AD, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label><b>KATEGORİ</b></label>
            @Html.DropDownListFor(k => k.TBLKATEGORI.ID, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label><b>YAZAR</b></label>
            @Html.DropDownListFor(k => k.TBLYAZAR.ID, (List<SelectListItem>)ViewBag.dgr2, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label><b>BASIM YILI</b></label>
            @Html.TextBoxFor(k => k.BASIMYIL, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label><b>YAYINEVİ</b></label>
            @Html.TextBoxFor(k => k.YAYINEVI, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label><b>SAYFA SAYISI</b></label>
            @Html.TextBoxFor(k => k.SAYFA, new { @class = "form-control" })
        </div>
    </div>
    <div>
        <button class="btn btn-warning text-white">Kitap Bilgilerini Güncelle</button>
        <input type="hidden" name="Durum" value="True" />
    </div>
}


