@using MvcKutuphane.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<TBLUYELER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div style="margin-top:15px"></div>
<h2>Üyeler</h2>
<hr />
<div style="margin-top:15px"></div>
<table class="table table-bordered table-striped">
    <tr style="background-color:#e6e6fa">
        <th>ÜYE ID</th>
        <th>ÜYE ADI</th>
        <th>ÜYE SOYADI</th>
        <th>OKUL</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var uye in Model)
    {
        <tr>
            <td>@uye.ID</td>
            <td>@uye.AD</td>
            <td>@uye.SOYAD</td>
            <td>@uye.OKUL</td>
            <td><a href="/Uye/UyeSil/@uye.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Uye/UyeGetir/@uye.ID" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Uye/UyeKitapGecmis/@uye.ID" class="btn btn-warning text-white">Kitap Geçmişi</a></td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model,sayfa=>Url.Action("Index",new { sayfa}))
<a href="/Uye/UyeEkle/" class="btn btn-primary">Yeni Üye Ekle</a>


